.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Ensure app takes full viewport height */
}

.top-container {
  display: flex;
  flex-grow: 1;
  /* Top container fills remaining space */
}

.sidebar-container {
  background-color: lightgray;
}

.messages-container {
  background-color: white;
  flex-grow: 1;
  /* Messages container fills remaining space next to sidebar */
}

.bottom-container {
  background-color: #f0f0f0;
  min-height: 200px;
  display: flex;
  /* Enable flexbox for bottom container */
}

.input-area {
  flex-grow: 1;
  /* Input area fills remaining space */
  display: flex;
  margin: 5px;
  /* Adjust margin as needed */
}

.text-field {
  flex-grow: 1;
  /* Text field fills available space horizontally */
  padding: 10px;
  /* Adjust padding as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.command-container {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.command-container button {
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
}